/* Crea un arreglo de colores */
$colors : (
  red: #960000,
  pink: #E4004F,
  blue: #2C3E50,
  grey: #6c6f71,
  dark-grey: #666,
  light-blue: #6DBCDB,
  white: #fff,
  indigo: #2F33AC,
  black: #000
);

/* Con un ciclo each se recorre cada valor del arreglo $colors y se crea
una clase .nombre-color-text(cambia el color de la fuente) y una clase
.nombre-color que cambia el color de fondo*/

@each $color_name,$color in $colors{
  .#{$color-name}{
    background-color: $color;
  }
  .#{$color-name}-text{
    color: $color;
  }
}

/* Este mixin sirve para cambiar el color del placeholder con cada prefijo de 
los diferentes navegadores */

@mixin change-color-placeholder($color){

	::placeholder { color: $color; }

	::-webkit-input-placeholder { /* Safari y Chrome */
   		color: $color;
	}
 
	:-moz-placeholder { /* Firefox hasta v18 */
   		color: $color;  
	}
 
	::-moz-placeholder {  /* Firefox 19+ */
   		color: $color;  
	}
 
	:-ms-input-placeholder {  /* IE 10+´*/
   		color: $color;
   	}
}

html, body{
	margin: 0;
	padding:0;
}
.control{
	border: none;
	border-bottom: 1px solid white;
	outline: none;
	width:100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
	background-color: transparent;
	color: white;
}
.text-right{
	text-align: right;
}
.boton{
	margin-top: 1em;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 12px;
}

.placeholder { @inculde change-color-placeholder(white); }